flask>=1.1.2
numpy>=1.20.3
spacy>=2.3.5
scikit-learn>=0.24.2
tweepy>=3.10.0
psycopg2-binary>=2.9.1
gunicorn>=20.1.0attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
basilica==0.2.8
blinker==1.4
blis @ file:///opt/concourse/worker/volumes/live/728a53c8-b9d7-497c-68eb-780cc5d2afb5/volume/cython-blis_1613319326548/work
brotlipy==0.7.0
catalogue @ file:///tmp/build/80754af9/catalogue_1608238891378/work
certifi==2021.5.30
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1625835329396/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093613037/work
charset-normalizer==2.0.4
click @ file:///tmp/build/80754af9/click_1621604852318/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1616851523607/work
cymem @ file:///opt/concourse/worker/volumes/live/0312466e-c9ce-4567-76d1-bfa1d6610ef2/volume/cymem_1613319253044/work
en-core-web-sm @ file:///home/conda/feedstock_root/build_artifacts/spacy-model-en_core_web_1595437534769/work/sm
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1616102249273/work
greenlet @ file:///opt/concourse/worker/volumes/live/b27b4e9e-4697-4d57-403b-f82d36a391ca/volume/greenlet_1628888146890/work
gunicorn @ file:///opt/concourse/worker/volumes/live/f7b39e0f-a194-41b6-4722-90b8829755e9/volume/gunicorn_1617120639810/work
idna==3.2
importlib-metadata @ file:///opt/concourse/worker/volumes/live/bdafb81c-7edc-4122-77fe-a69839ec3c71/volume/importlib-metadata_1617877361684/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
jsonschema @ file:///opt/concourse/worker/volumes/live/2611dbea-1561-4354-54a9-19ae6e324574/volume/jsonschema_1608321992314/work
MarkupSafe @ file:///opt/concourse/worker/volumes/live/1bcf0940-5bf8-4171-61e3-2133f5885e8b/volume/markupsafe_1621528148241/work
mkl-fft==1.3.0
mkl-random @ file:///opt/concourse/worker/volumes/live/0cda23d8-7460-44b2-7e5d-3c76a8a0ca7e/volume/mkl_random_1626186083266/work
mkl-service==2.4.0
murmurhash @ file:///opt/concourse/worker/volumes/live/91c9b290-6077-41e6-618b-2e77c3764a6c/volume/murmurhash_1607456116561/work
numpy @ file:///opt/concourse/worker/volumes/live/9909a8d0-9b8e-44eb-6059-6c668078c029/volume/numpy_and_numpy_base_1626271794641/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1622563202229/work
Pillow==8.3.1
plac @ file:///opt/concourse/worker/volumes/live/1ed18b40-ee55-430c-5b85-4fd64311c24e/volume/plac_1608239094865/work
preshed @ file:///opt/concourse/worker/volumes/live/a2e28b62-2832-4f60-59c3-3fd32077b564/volume/preshed_1621860833337/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1619620644068/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyrsistent @ file:///opt/concourse/worker/volumes/live/f4188029-c4e5-4376-5777-96466a6d9de1/volume/pyrsistent_1625052316913/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291470465/work
python-decouple==3.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
scikit-learn @ file:///opt/concourse/worker/volumes/live/83f46a43-da2a-467b-5581-ed2cbd128684/volume/scikit-learn_1621370403088/work
scipy @ file:///opt/concourse/worker/volumes/live/e6cafc01-ffb4-49e0-5767-9e6700679b1a/volume/scipy_1618855952637/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
spacy @ file:///opt/concourse/worker/volumes/live/9535d1a5-d8ee-488e-7a6c-5ac91efabd53/volume/spacy_1608322957574/work
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/454d700c-0b8b-469e-7add-023d0df6ee3d/volume/sqlalchemy_1626948440911/work
srsly @ file:///opt/concourse/worker/volumes/live/296329c0-5569-44f7-611b-8fe779a641b6/volume/srsly_1607548533995/work
thinc @ file:///opt/concourse/worker/volumes/live/b3bf720e-1e88-4dfb-7c3a-9c8dcc0c9867/volume/thinc_1608240725311/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1628668762525/work
tqdm @ file:///tmp/build/80754af9/tqdm_1627710282869/work
tweepy @ file:///home/conda/feedstock_root/build_artifacts/tweepy_1608988696003/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
wasabi @ file:///tmp/build/80754af9/wasabi_1612219178408/work
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
word2vec==0.9.4+2.g8204e5c
zipp @ file:///tmp/build/80754af9/zipp_1625570634446/work

blis==0.7.4
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
dnspython==2.1.0
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.20.3
oauthlib==3.1.0
pandas==1.2.4
plac==1.1.3
preshed==3.0.5
psycopg2-binary==2.8.6
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
spacy==2.3.5
SQLAlchemy==1.4.14
srsly==1.0.5
thinc==7.4.5
threadpoolctl==2.1.0
tqdm==4.60.0
tweepy==3.10.0
urllib3==1.26.4
wasabi==0.8.2
Werkzeug==1.0.1

