
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1>ABOUT THE APPLICATION</h1>
    <p>The creator of this application is Youssef Al-Yakoob.</p>
    <p><i>TwitOff!</i> is an application which aims to predict between two Twitter users, given a record of the past <i>N</i> Tweets, who is more likely to say a particular user-created Tweet.</p>
    <p>The algorithm used to predict a Twitter user at this stage will be a simple <i>Logistic Regression</i> from the <i>Scikit Learn</i> library.</p>
</body>
</html>